a{
    text-decoration: none;
}
.form-outline .form-control~.form-label {
    position: absolute;
    top: 0;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 0.75rem;
    padding-top: 0.37rem;
    pointer-events: none;
    transform-origin: 0 0;
    transition: all .2s ease-out;
    color: rgba(0,0,0,.6);
    margin-bottom: 0;
}
.form-outline {
    position: relative;
}
.btn-dark{
    width:100%;
}

i.fa-solid.fa-car-side {
    font-size: 26px;
}

.badge-dot{
    position: absolute;
    padding: 10px ;
    border-radius: 50% ;
    background-color: #0bd508 ;
}
.red{
    position: absolute;
    padding: 10px ;
    border-radius: 50% ;
    background-color: #d50808 ;
}
.black{
    position: absolute;
    padding: 10px ;
    border-radius: 50% ;
    background-color: black ;
}
.form-label {
    font-weight: 500;
}
.form-control-lg {
    min-height: calc(0.5em + 0.5rem + 2px);
    font-size: 12px !important;
}
button.btn.btn-dark.btn-lg.btn-block {
    background-color: #163e73;
    border: none;
    padding: 7px;
    font-size: 16px;
}